@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:100,400,700');

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Nav Section */
  nav {
    height: 50px;
    background-color: #FFF0ED;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    list-style-type: none;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: #333;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .8em;
  }

/* Banner Section */
.banner {
  height: 500px;
  background-color: #F76840;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
}

.banner .logo {
  width: 200px;
  height: 200px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #F76840;
}

.banner h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 5em;
}

.banner p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2em;
  text-align: center;
}

/* What We Do */
.service_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 600px;
}

.service_section h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
}

.services {
  display: flex;
  justify-content: space-evenly;
}

.service {
  width: 20%;
  font-family: 'Roboto Condensed', sans-serif;
}

.service img {
  width: 100%;
  height: 250px;
  border: 3px solid #000;
}

.service h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
  font-weight: 400;
}

.service p {
  line-height: 25px;
  text-align: justify;
}

.service button {
  background-color: #F76840;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
}

/* Recent Projects */
.recent_projects {
  height: 600px;
  background-color: #24201F;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.recent_projects h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
  color: #fff;
}

.projects {
  display: flex;
  justify-content: center;
  width: 800px;
  flex-wrap: wrap;
}

.project {
  width: 200px;
  height: 200px;
  background-color: #636363;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.project img {
  height: 150px;
}

/* Our Team */
.team_section {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
}

.team_section h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
}

.team {
  display: flex;
  width: 75%;
}

.team_member {
  margin: 0 25px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.team_member h2 {
  font-weight: 400;
  font-size: 1.5em;
}

.team_member h3 {
  font-weight: 300;
  margin: 5px 0;
}

.team_member p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: initial;
  font-size: .9em;
}

/* Numbers */
.numbers_section {
  background-color: #EA3628;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.numbers_section h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
}

.numbers_section p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 10px 0;
}

.numbers {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.number {
  text-align: center;
  margin: 20px;
}

.number h1 {
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
  font-size: 3em;
}

.number p {
  font-size: .9em;
  text-transform: uppercase;
}

/* Contact */
.contact_section {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.contact_section h1 {
  font-weight: 400;
  font-size: 2em;
}

.contact_section p {
  text-transform: initial;
  font-weight: 300;
  margin: 10px 0;
}

.contact_section form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.contact_section form button {
  background-color: #7CC576;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif;
}

.contact_section form input,
.contact_section form textarea,
.contact_section form button {
  margin: 10px 0;
  padding: 10px;
  border: none;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {

  /* Banner */
  .banner h1 {
    font-size: 3em;
  }

  .banner p {
    font-size: 1.5em;
  }

  /* What We Do */
  .service {
    width: 30%;
  }

  /* Our Team */
  .team {
    width: 100%;
  }

}

@media only screen and (max-width: 800px) {

  /* What We Do */
  .service_section {
    height: 100%;
    text-align: center;
  }

  .service_section h1 {
    margin: 20px 0;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 75%;
  }

  .service button {
    margin: 20px 0;
  }

  /* Recent Projects */
  .recent_projects {
    height: 100%;
  }

  .recent_projects h1 {
    margin: 20px 0;
  }

  .projects {
    width: 100%;
    padding-bottom: 30px;
  }

  /* Our Team */
  .team_section {
    height: 100%;
  }

  .team_section h1 {
    margin: 20px 0;
  }

  .team {
    display: flex;
    flex-direction: column;
  }

  .team_member {
    text-align: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  /* Nav */
  nav {
    height: 100%;
  }
  
  nav ul {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  nav ul li {
    border-bottom: 1px solid #000;
    width: 100%;
    margin: 0;
    padding: 15px;
  }

  /* Banner */
  .banner h1 {
    font-size: 2em;
  }

  .banner p {
    font-size: .9em;
  }

  /* Recent Projects */
  .projects {
    width: 100%;
    padding-bottom: 30px;
  }

  /* Numbers */
  .numbers_section {
    height: 100%;
  }

  .numbers_section h1 {
    margin: 20px 0;
  }

  .numbers {
    width: auto;
    flex-direction: column;
  }

  /* Contact Section */
  .contact_section form {
    width: auto;
  }
}